parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - tests/Service/TestFlavour.php
services:
    -
        class: TeamBlue\JsonImmutableObjects\PhpStan\PropertiesExtension
        tags:
            - phpstan.properties.readWriteExtension